*.gz
*.swp
attic
tmp
pub/System/HyphenatorContrib/hyphenator.init.js
pub/System/HyphenatorContrib/hyphenator.js
pub/System/HyphenatorContrib/git
/HyphenatorContrib.md5
/HyphenatorContrib.sha1
/HyphenatorContrib.tgz
/HyphenatorContrib.txt
/HyphenatorContrib.zip
/HyphenatorContrib_installer
/HyphenatorContrib_installer.pl
